@mixin dimensions ($width, $height) {
  width: $width;
  height: $height;
}

body {
  font: {
    family: 'Montserrat', sans-serif;
    size: 17px;
  };
  line-height: 1.6;
  background: #EAEAEA;
}

.page {
  padding: 15px;
}

.container {
  width: 100%;
  margin: 0 auto;
}
